section{
    display: flex;
    flex-direction: column;
    
    
}

.range{

    padding: 30px 300px;
    text-align: justify;
}



#pres{
     background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
     padding-left: 60px;
    
}

#pres li{
    list-style-type: circle;
}

/*expérience*/
#exp{
    background-color: white;
}
#ti-un{
    margin-left: 55px;
}

#gras{
   font-weight: bolder;
}
#exp li{
    margin: 20px;
}

.range-d{
    display: flex;
    flex-direction: row;
}
.vide{
    color: white;
}

/*formation*/
#form{
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

/*passion*/
#pass{
    background-color: white;
    padding-left: 50px;
}

footer{

    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    ;
    height: 100%;
}
#ti-deux{
    margin-left: 40px;
}
#rang-f{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#rang-f img{
    width: 20px;
    
}

#rang-f li{
    margin: 20px;
}

#rang-i li{
    margin: 0px;
}




#rang-i {
    display: flex;
    flex-direction: column;
    
    
}
