body{
    margin:0;
    padding:0;
    
}

header{
    background-color: #0475ba;


}

#navbar{
    display: flex;
    flex-direction: row;

}
.name{
    margin:0;
}

li{
    list-style-type: none;
    margin: 10px;

}
